/* PAGE #4 BODY CSS */

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


body{
    color: #181c47;
    font-family: 'Baloo Bhai 2', cursive;
}
h1{
    font-family: 'Playfair Display', serif;
}

.main_container{
    padding: 40px 0px;
    background-color: rgba(243,243,249,255);
}
.content_container{
    max-width: 1170px;
    margin: auto;
}
.main_section1_div{
    font-size: 20px;
    font-weight: bolder;
    color: rgba(24,28,71,255);
    letter-spacing: 1px;
}
.main_section1_h1{
    font-size: 40px;
    font-weight: bolder;
    color: rgba(24,28,71,255); 
    letter-spacing: 1px;
}
.main_section1_p{
    font-size: 20px;
    letter-spacing: 1px;
    font-family:inherit;
    font-weight:600;
    color: rgba(24,28,71,255);
}
.main_section1{
    text-align: center;
}

.list_item{
    padding: 8px;
    margin: auto;
}
.main_ul{
    color: rgba(50,87,158,255);

    font-size: 18px;
    margin: 30px 0px;
    display: flex;
    list-style: none;
    font-weight:600;
    letter-spacing: 1px;
    
}
.imga{
    margin: auto;
    display: block;
    width: 100px;
    height: 20px;
    background-image: url(https://animoto.com/static/wavy-7ff02f13569c9c84a7174f4fd2050300.svg);
    background-repeat: no-repeat;
    background-size: 121px 9px;
}
.grid_colam{
    margin-left: 15px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 20px;
    padding: 0 0 5%;
  
}
.button_in_main{
    cursor:pointer;
    height: 64%;
    border: none;
    
}
.button_in_main img{
    filter: drop-shadow(13px 13px 3px rgba(222,222,228,255));
}
.btn2_main{
    cursor:pointer;
    color: white;
    width: 285px;
    height: 45px;
    border-radius: 40px;
    margin-left: 8px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    background-color: rgba(35,64,140,255);
  
}
.div_grid_colam{
    width: 285px;
}
   .div1_grid_colam{
    color: rgba(24,28,71,255);

    font-weight: 600;
    text-align: left;
    margin: 30px 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.last_div_grid_colam{
    letter-spacing: 1px;
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #23408c;
    padding-bottom: 4px;
    color: #23408c;
}
.play_btn{
        position: absolute;
        top: 48px;
        left: 48px;
        width: 64px;
        height: 64px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-top: -32px;
        margin-left: -32px;
        background-color: rgba(0,0,0,.4);
        background-image: url(/static/play-pause-cd04475….svg);
        background-position: -2px -1px;
        background-size: 256px 128px;
        text-indent: 100%;
        cursor: pointer;
        overflow: hidden;
}

 /* PAGE #7 PARTNER CONTENT BY SHIVAM */

 .partner_section{
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.partner_div{
    margin-bottom: 25px;
    color: #181c47;
    font-family: ProximaNova-Bold,sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
}
.partner_ul{
    margin: auto;
    display: grid;
    grid-template-columns:170px 170px 170px 170px 170px 170px;;
    
}
.partner_ul_li {
    display: block;
    margin: 15px 10px;
}
.partner_ul_span1 {
    background: url(https://animoto.com/static/LinkedinPartnerIcon-327ae68f31fe001bef82511b61e292ad.svg) no-repeat;
    display: block;
    min-height: 65px;
    background-position: 50%;
    background-size: contain;
}
.partner_ul_span2 {
    display: block;
    width: 100%;
    min-height: 65px;
    background-size: contain;
    background-image: url(https://animoto.com/static/FacebookPartnerIcon-961906786656ef476b0062fa5d9a23e0.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.partner_ul_span3 {
    display: block;
    width: 100%;
    min-height: 65px;
    background-size: contain;
    background-image: url(https://animoto.com/static/YoutubePartnerIcon-a2c50cfcbdfaa231cb43a768f4ad2c81.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.partner_ul_span4 {
    display: block;
    width: 100%;
    background: url(https://animoto.com/static/InstagramPartnerIcon-a25842f56300416b98d0c2b1ce1485d6.svg);
    min-height: 65px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}


.partner_ul_span5 {
    background: url(https://animoto.com/static/TwitterPartnerIcon-dda193843f2ad8e7cda58361fd5f8166.svg) no-repeat;
    display: block;
    width: 100%;
    min-height: 65px;
    background-position: 50%;
    background-size: contain;
}
.partner_ul_span6 {
    background: url(https://animoto.com/static/HubspotPartnerIcon-a1b111f791276690babd826db0f968f4.svg) no-repeat;
    display: block;
    width: 100%;
    min-height: 65px;
    background-position: 50%;
    background-size: contain;
}


/* PAGE #8 BODY CSS */





.resources_cont{
    display: flex;
    flex-direction: column;
}
.resources_cont_div1{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.resources_cont_h1{
    font-size: 45px;
    color: rgb(24, 28, 71);
    margin-top: 25px;
}
.resources_cont_div2{
    max-width: 1100px;
    margin: auto;
}
.resources_cont_span{
    margin: auto;
    width: 100px;
    height: 50px;
    background-image: url(https://animoto.com/static/wavy-7ff02f13569c9c84a7174f4fd2050300.svg);
    background-repeat: no-repeat;
    background-size: 115px 8px;
}
.resources_cont_div2_div1_div1{
    display: grid;
    gap: 25px;
    grid-template-columns: 350px 350px 350px;
}
.resources_cont_div2_div1_div1_div1_img{
    filter: drop-shadow(13px 13px 6px rgba(222,222,228,255));
}
.resources_cont_div2_div1_div1_div1_h2{
    font-size: 25px;
    /* text-align: left; */
    color: #181c47;
    font-weight: 700;
    line-height: 30px;
}
.resources_cont_div2_div1_div1_div1_p{
    line-height: 30px;
    font-size: 21px;
    color: #181c47;

}
.resources_cont_div2_div1_div1_div1_a{
    letter-spacing: 1px;
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #23408c;
    padding-bottom: 4px;
    color: #23408c;
}


/* FOOTER CSS BY SHIVAM */


footer {
    background: black;
    color: rgb(99, 99, 99);
    padding: 25px 0px;
}

.center_logo {
    text-align: center;
}

.center_logoA {
    display: inline-block;
    width: 38px;
    height: 32px;
    background: url(https://animoto.com/static/Logo-b634e191767bb07f78b4534cf5171c33.svg) no-repeat;
}

.footer_main1 {
    margin-top: 80px;
    height: 45px;
    width: 100%;
    background-color: #f3f3f9;
}

.footer_main_btn {
    width: 100%;
    padding: .81481rem 0;
    border: none;
    margin: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.footer_main_btn_div {
    color: #181c47;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer_main2 {
    width: 100%;
    background-color: #dadada;
}
.footer_main2_div_ul5_ul{
    display: flex; 
    padding: 0;
}

.footer_main2_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.37037rem 1.48148rem;
    line-height: 24px;
}

.footer_main2_div_ul1 {
    padding-bottom: 10px;
    list-style: none;
    margin-bottom: .59259rem;
}

.footer_main2_div_ul1_div1 {
    margin-bottom: 8px;
    color: #181c47;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer_main2_div_ul1_div1l1 {
    /* color: #969696; */
    margin-bottom: 8px;
    font-size: 15px;
}

.facebookmarketin {
    background-image: url(https://animoto.com/static/FacebookPartnerIcon-961906786656ef476b0062fa5d9a23e0.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    min-height: inherit;
    width: 120px !important;
    height: 34px;
    background-size: 120px 65px;
}

.instgram_icon {
    background-image: url(https://animoto.com/static/InstagramPartnerIcon-a25842f56300416b98d0c2b1ce1485d6.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    min-height: inherit;
    width: 138px !important;
    height: 26px;
    background-size: 138px 111px;
}


.youtub_icon {
    display: inline-block;
    min-height: inherit;
    width: 72px !important;
    height: 34px;
    background-size: 100px 45px;
    background-image: url(https://animoto.com/static/YoutubePartnerIcon-a2c50cfcbdfaa231cb43a768f4ad2c81.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.all_icon {
    height: 32px;
    width: 32px;
}

.fb_icon {
    fill: #3b5998;
}

.you_tub_icon {
    fill: red;
}

.twet_icon {
    fill: #0077b5;
}

.insta_icon {
    fill: #e34060;
}

.linkd_icon {
    fill: #00aced;
}

.all_icon2 {
    padding: 2px;
    display: inline-block;
    line-height: 0;
}


