.footer a{
    color: #969696;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.navbar {
    width: 100vw;
    background-color:lightgrey;
    margin: 0;
  }
   .navbar ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      height: 3em;
      padding: 0;
    }
  
   .navbar > ul li {
      padding-right: 2em;
      font-weight: bold;
      color:rgb(129, 120, 120)
    }
    img {
     
      height:7.5em;
      width: 10.5em;
    }
    .navbar > li:first-child {
      margin-right: auto;
      margin-left: 2em;
    }
  
  
  
             #upper_pic_txt{
                 display: flex;
                 gap: 0.5em;
                 justify-content: center;
                 border-radius:2px;
                 background-color: whitesmoke;
                 justify-content: space-between;
             }
             .firstone_pic >img {
              margin-left:-5.5em 
             }
             .classonelast_pic {
              margin-right: -5.1em;
             }
             .classone_text >h1{
                margin-left: 0.3;
             }
            .classone_text{
                font-size: 29px;
                color: rgb(10, 12, 114);
                font-family: 'PT Serif', serif;
                
                
            }
           #secondone_text {
               display: flex;
               justify-content: center;
               gap: 2em;
           }
           .secondheading{
                font-size: 23px;
                color: rgb(10, 12, 114);
                font-family: 'PT Serif', serif;
                margin-top: 1.8em;
           }
           .buttonclass {
               margin-top: 2em;
              
           }
           .buttonclass > button {
               height: 3.2em;
               width: 16em;
               border-radius: 2.5em;
               font-size: 0.9em;
               color: rgb(10, 12, 114);
           }
  
           #anuualmonthly_text{
              display: flex;
              gap: 3.8em;
             justify-content: center;
           }
           .annual {
               font-size: 18px;
               font-family: 'PT Serif', serif;
               color: rgb(10, 12, 114);
           }
           .monthly{
               margin-top: 0.0.8em;
               font-size: 18px;
               font-family: 'PT Serif', serif;
               color: rgba(32, 29, 29, 0.562);
           
           }
           #border{
               display: flex;
               justify-content: center;
               margin: -1em;
           }
  
           .border {
               border: 2px solid   rgb(10, 12, 114);
               width: 5em;
               background-color: rgb(10, 12, 114);
               margin-right: 10em;
               border-radius: 0.9em;
           }
  
           #border1 {
              display: flex;
               justify-content: center;
               margin: -1em;
           }
           .border1 {
              border: 2px solid   rgb(10, 12, 114);
               width: 2em;
               background-color: rgb(10, 12, 114);
             
               border-radius: 0.9em;
           }
          #discountprice {
              display: flex;
              justify-content: center;
              margin: 1.5em;
          }
          .discount{
              font-size: 1.3em;
             
          }
          #moneyplan {
              margin: 2rem;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
              grid-gap: 2rem;
              justify-content: center;
          }
  
          #moneyplan_box{
              display: flex;
              gap: 3em;
              justify-content: center;
          }
          .free_plan{
              padding: 05em;
          }
          .classh1 {
              font-size: 2.5em;
              color:rgb(10, 12, 114);
              margin-top: -0.3em;
          }
  
          .classproftext{
              font-size: 2.5em;
              color:rgb(10, 12, 114);
          }
          .classp1{
              font-size:1.3em ;
          }
          .dollar {
              font-size: 50px;
          }
          .dollartext {
              font-size: 1.2em;
          }
          .buttonfree_monthly {
              height: 3.5em;
              width: 19em;
              border-radius: 2.5em;
              font-size: 0.9em;
              margin-top: 1.5em;
              margin-bottom: 0.6em;
          }
          .noanimatopara{
              margin-bottom: 1.2em;
          }
  
          .classh2 {
              font-size: 1.1em;
              margin-top: 1.7em;
              
          }
          .animato_brandingtext{
              font-size: 1.0em;
              margin-top: 1.6em;
              margin-bottom: 1em;
          }
          .monthly_plan{
              box-sizing: border-box;
              padding: 05em;
              border-left:0.1em solid rgb(199, 189, 189);
              border-right:0.1em solid rgb(199, 189, 189) ;
  
              margin-bottom: 5.5em;
          }
          .small_button {
              height: 3.5em;
              width: 12em;
              border-radius: 2.5em;
              font-size: 0.9em;
              margin-top: -0.7em;
             
              
  
          }
          .button_monthly {
              height: 3.5em;
              width: 19em;
              border-radius: 2.5em;
              font-size: 0.9em;
            
              margin-bottom: 0.6em;
             
          }
          .letterspacing1{
              letter-spacing: 0.1em;
              font-size: 1.2em;
              color: rgb(29, 26, 26);
          }
          #letterspacing{
              letter-spacing: 0.1em;
              font-size: 1.2em;
              color:  rgb(29, 26, 26);
          }
          .red {
              color: red;
              font-size: 1.2em;
              margin-top: -3.0em;
          }
          .year_plan{
              padding: 04em;
              margin-top: -0.3em;
          }
          .background{
              background-color: whitesmoke;
              padding: 0.4em;
              display: flex;
              
             
          }
          .accountfor3_txt{
              margin-top: 0.2em;
              margin-bottom: 0.5em;
          }
          .letter_spacing2{
              letter-spacing: 0.1em;
              font-size: 1.2em;
              color:  rgb(29, 26, 26);
          }
          .letterspacing3{
              letter-spacing: 0.1em;
              font-size: 1.2em;
              color:  rgb(29, 26, 26);
          }
          #all_plan{
              display: flex;
              justify-content: center;
          }
          #all_plan>h3{
              font-size: 1.7em;
              color:  rgb(29, 26, 26);
              margin-top: 2.5em;
          }
  
          #fourshort_image{
              display: flex;
              justify-content: center;
              gap: 8.2em;
              flex-direction: row;
          }
  
          .image_short  {
              height: 4.5em;
              width: 4.5em;
          }
            .fourshort_text {
             font-size: 1.1em;
             color:rgb(10, 12, 114) ;
  
          } 
          .s_class1{
            flex-direction: column;
             
          }
          .s_class2{
              flex-direction: column;
          }
          .s_class3{
              flex-direction: column;
          } 
  
          #last_button{
             display: flex;
             justify-content: center;
             margin-top: 2.5em;
             
          }
          #last_button>button{
              height: 3.5em;
              width: 19em;
              border-radius: 2.5em;
              font-size: 0.9em; 
          }
          #signup_1 , #signup_lastbtn{
              background-color: rgb(44, 62, 143);
              color: white;
              
          }


/* FOOTER MADE BY SHIVAM SINGH */



footer {
    background: black;
    color: rgb(99, 99, 99);
    padding: 25px 0px;
}

.center_logo {
    text-align: center;
}

.center_logoA {
    display: inline-block;
    width: 38px;
    height: 32px;
    background: url(https://animoto.com/static/Logo-b634e191767bb07f78b4534cf5171c33.svg) no-repeat;
}

.footer_main1 {
    margin-top: 80px;
    height: 45px;
    width: 100%;
    background-color: #f3f3f9;
}

.footer_main_btn {
    width: 100%;
    padding: .81481rem 0;
    border: none;
    margin: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.footer_main_btn_div {
    color: #181c47;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer_main2 {
    width: 100%;
    background-color: #dadada;
}
.footer_main2_div_ul5_ul{
    display: flex; 
    padding: 0;
}

.footer_main2_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.37037rem 1.48148rem;
    line-height: 24px;
}

.footer_main2_div_ul1 {
    padding-bottom: 10px;
    list-style: none;
    margin-bottom: .59259rem;
}

.footer_main2_div_ul1_div1 {
    margin-bottom: 8px;
    color: #181c47;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer_main2_div_ul1_div1l1 {
    /* color: #969696; */
    margin-bottom: 8px;
    font-size: 15px;
}

.facebookmarketin {
    background-image: url(https://animoto.com/static/FacebookPartnerIcon-961906786656ef476b0062fa5d9a23e0.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    min-height: inherit;
    width: 120px !important;
    height: 34px;
    background-size: 120px 65px;
}

.instgram_icon {
    background-image: url(https://animoto.com/static/InstagramPartnerIcon-a25842f56300416b98d0c2b1ce1485d6.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    min-height: inherit;
    width: 138px !important;
    height: 26px;
    background-size: 138px 111px;
}


.youtub_icon {
    display: inline-block;
    min-height: inherit;
    width: 72px !important;
    height: 34px;
    background-size: 100px 45px;
    background-image: url(https://animoto.com/static/YoutubePartnerIcon-a2c50cfcbdfaa231cb43a768f4ad2c81.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.all_icon {
    height: 32px;
    width: 32px;
}

.fb_icon {
    fill: #3b5998;
}

.you_tub_icon {
    fill: red;
}

.twet_icon {
    fill: #0077b5;
}

.insta_icon {
    fill: #e34060;
}

.linkd_icon {
    fill: #00aced;
}

.all_icon2 {
    padding: 2px;
    display: inline-block;
    line-height: 0;
}



