

#Drag_pic_text {
    text-align: center;
   }
  #Drag_pic_text> div > h1 {
      font-size: 45px;
      padding: 10px;
      color: rgb(10, 12, 114);
      
      text-align: center;
  }

  /* .waivy_pic > img {
    height: 30px;
    width: 100px;
    margin: 0px; 
} */

 #mid_text {
    display: flex;
    gap: 0px;
}

.midtext_class{
    padding: 90px;
    height: 450px;
    width: 600px;
    margin-top: 80px;

}
.midtext_class > h1 {
     color: rgb(10, 12, 114);
     font-size: 35px;

}
.midtext_class > p {
    font-size:21px;
}
.midtext_class > button {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    color: rgb(14, 14, 209);
    font-size: 16px;
    border: 2px solid rgb(14, 14, 209);
    background-color: white;
}
.big_image {
    padding: 90px;
    height: 450px;
    width: 600px;
    margin-bottom: 80px;
    margin-right: 80px;
}

.big_image > img {
    height: 500px;
    width: 700px;
  
}